/* Éléments principaux de la page, police et taille */


@font-face
{
	font-family: "Raleway";
	src: url("police/raleway/Raleway-VariableFont_wght.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body
{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}

h1
{
    
    font-size: 24px;
    font-weight: bold;
}


#bloc_page
{
    width: 1300px;
    margin: auto;
}

.main
{
    max-width: 1440px;
    margin: auto;
}

/* Gère le header et le comportement des liens de la page */

.header
{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
}


.headernavlink
{
    
    padding: 35px;

}

.headersignup
{
    color: #0065FC;
    font-weight: bold;
}

/* Gère le comportement des liens de la page et dans le header */

a
{
    color: inherit;
    text-decoration: none;
}

a[href="#hosting"]
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

a[href="#activities"]:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    transition-duration: 0.2ms;
}

/* Gère le titre principal de la page */

.searchheader
{
    margin-top: 55px;
}

.searchheadertitle
{
    margin-bottom: -8px;
}

/* Gère le champ de recherche de la page */

#map
{
    font-size: 18px;
    padding-top: 15px;
}

.searchformulaire
{
    display: flex;
    flex-direction: row;
}

.searchformulairemap
{
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}


.searchformulaireformarea
{
    width: 250px;
    padding: 12.4px;
    margin: ;
    border: 2px solid #F2F2F2;
    border-left: none;
    border-right: none;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: bold;
    
}

.searchformulairebutton
{
    background-color: #0065FC;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: bold;
    color: white;
    width: 130px;
    border-radius: 0 15px 15px 0;
    box-shadow: 15px 15px 15px white;
    border: none;
}

/* Gère le champ des filtres de la page */


.searchfilters
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
    
    
}

.searchfilterstitle
{
    
    font-size: 20px;
    font-weight: bold;
}


.searchfilterslinks
{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.searchfilterslinkseco, .searchfilterslinksfamily, .searchfilterslinkslove, .searchfilterslinkspet
{
    display: flex;
    flex-flow: row;
    justify-content: center;
}


#eco, #child, #love, #dog
{
    padding-top: 10px;
    font-size: 18px;
    color: #0065FC;
}


.searchfilterslinkstext
{
    padding: 8px 20px 10px 20px;
    border: 2px solid  #F2F2F2;
    border-left: none;
    border-radius: 0px 20px 20px 0px;
    font-size: 16px;
    font-weight: bold;
    
}

.searchfilterslinkssvg
{
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: #DEEBFF;
    border-radius: 20px 20px 20px 20px;
    margin-right: -14px;
    
}

.searchfilterslinkstext:hover /* Définit le comportement des liens de Filtres au survol */
{
    font-style: italic;
}

/* Gère le champ de résultat de recherche de la page */


.search_i_icon
{
    border: 1px solid #F2F2F2;
    color: #0065FC;
    font-weight: bold;
    border-radius: 100%;
    padding: 1px;
    margin-left: ;
    margin-right: 20px;
    text-align: center;
}

.searchresult
{
    display: flex;
    flex-direction: row;
}

.searchresultwrapicon
{
    height: 20px;
    width: 20px;
    min-height: 15px;
    min-width: 15px;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #0065FC;
}




/* TEMPORAIRE */

             /* Gère les images liées à cette class (taille temporaire le temps de finir le html */

./hostingpopularcardfigureimg
{
    width: 100px;
    height: 100px;
}

./activitiesmaincardfigureimg
{
    width: 170px;
    height: 250px
}


/* FIN DU TEMPORAIRE */

/* Gère les "cards" de "Hébergements à Marseille */

.hostingmain
{
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-top: 40px;
    padding-bottom: 80px;
    display: flex;
    flex-flow: wrap;
    width: 65%;
    height: 100%;
    
}

.hostingmainheader
{
    position: absolute;
    font-weight: bolder;
    margin-left: 50px;
    margin-bottom: 0px;
}

.hostingmainfooter
{
    position: absolute;
    padding-top: 530px;
    padding-left: 50px;
    font-weight: bolder;
}

.hostingmaincard
{
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom: -25px;
    display: flex;
    flex-direction: column;
}

.hostingmaincardfigure
{
    justify-content: ;
    background-color: white;
    border: 5px solid white;
    border-radius: 25px;
    
    width: 210px; 
    height: 180px;
    
    margin-right: 5px;
    margin-left: 15px;
    overflow: hidden;
}

.hostingmaincardfigureimg
{
    width: 100%;
	height: 60%;
    object-fit: cover;
    margin-bottom: -10px;
}

.hostingmaincardtext
{
    margin-left: 8px;
}

.hostingmaincardfigurecaption
{
    font-size: 14px;
    font-weight: 1000;
    padding-top: -px;
    margin-bottom: -15px;
}

.hostingmaincarddesc
{
    margin-bottom: -1px;
}

.hostingmaincardgrade
{
    font-size: 14px;
}

.hostingmaincardgradeicon[data-active=true]   /* Définit la couleur des étoiles de notation "remplies" (true) pour le main */
{
    color: #0065FC;
}

.hostingmaincardgradeicon[data-active=false] /* Définit la couleur des étoiles de notation "vides" (false) pour le main */
{
    color: #d9d9d9;
}

.hostingpopularcardgradeicon[data-active=true] /* Définit la couleur des étoiles de notation "remplies" (true) pour le popular */
{
    color: #0065FC;
}

.hostingpopularcardgradeicon[data-active=false] /* Définit la couleur des étoiles de notation "vides" (false) pour le popular */
{
    color: #d9d9d9;
}

/* Nouvelles règles si la fenêtre fait au plus 1024px de large */

@media scre/en and (max-width: 1024px)
{
    #bloc_page
    {
        width: 600px;
        margin: auto;
    }
    
    
    .header
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    
    .header 
    {
        align-self: baseline;
        
        
    }
    
    .headerimg
    {
        order: ;
    }
    
    .headernav
    {
        
    }
    
    
    
    
	
	
    
    
    
    
    
}